
@{
    ViewData["Title"] = "Admin Index";
    // Default when End developer select Layput Page while adding a View
    //Layout = "~/Views/Shared/_AdminLayout.cshtml"; 
}

<h1>Admin Index</h1>

<a class="btn btn-danger" asp-controller="Home" asp-action="Index">Home- Index</a>

